[submodule "nodec"]
	path = nodec
	url = https://github.com/nodec-project/nodec.git
[submodule "modules/nodec_world"]
	path = modules/nodec_world
	url = https://github.com/nodec-project/nodec_world.git
[submodule "modules/nodec_screen"]
	path = modules/nodec_screen
	url = https://github.com/nodec-project/nodec_screen.git
[submodule "modules/nodec_scene_editor"]
	path = modules/nodec_scene_editor
	url = https://github.com/nodec-project/nodec_scene_editor.git
[submodule "modules/nodec_scene_serialization"]
	path = modules/nodec_scene_serialization
	url = https://github.com/nodec-project/nodec_scene_serialization.git
[submodule "modules/nodec_scene_audio"]
	path = modules/nodec_scene_audio
	url = https://github.com/nodec-project/nodec_scene_audio.git
