[submodule "nodec"]
	path = nodec
	url = https://github.com/nodec-project/nodec.git
[submodule "modules/nodec_world"]
	path = modules/nodec_world
	url = https://github.com/nodec-project/nodec_world.git
[submodule "modules/nodec_screen"]
	path = modules/nodec_screen
	url = https://github.com/nodec-project/nodec_screen.git
[submodule "modules/nodec_scene_editor"]
	path = modules/nodec_scene_editor
	url = https://github.com/nodec-project/nodec_scene_editor.git
[submodule "modules/nodec_scene_serialization"]
	path = modules/nodec_scene_serialization
	url = https://github.com/nodec-project/nodec_scene_serialization.git
[submodule "modules/nodec_scene_audio"]
	path = modules/nodec_scene_audio
	url = https://github.com/nodec-project/nodec_scene_audio.git
[submodule "modules/nodec_scene"]
	path = modules/nodec_scene
	url = https://github.com/nodec-project/nodec_scene.git
[submodule "modules/nodec_resources"]
	path = modules/nodec_resources
	url = https://github.com/nodec-project/nodec_resources.git
[submodule "modules/nodec_rendering"]
	path = modules/nodec_rendering
	url = https://github.com/nodec-project/nodec_rendering.git
[submodule "modules/nodec_physics"]
	path = modules/nodec_physics
	url = https://github.com/nodec-project/nodec_physics.git
[submodule "modules/nodec_input"]
	path = modules/nodec_input
	url = https://github.com/nodec-project/nodec_input.git
[submodule "modules/nodec_application"]
	path = modules/nodec_application
	url = https://github.com/nodec-project/nodec_application.git
[submodule "modules/nodec_animation"]
	path = modules/nodec_animation
	url = https://github.com/nodec-project/nodec_animation.git
[submodule "modules/assimp"]
	path = modules/assimp
	url = https://github.com/assimp/assimp.git
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/nodec-project/imgui.git
[submodule "modules/imguizmo"]
	path = modules/imguizmo
	url = https://github.com/nodec-project/imguizmo.git
[submodule "modules/imessentials"]
	path = modules/imessentials
	url = https://github.com/nodec-project/imessentials.git
[submodule "modules/nodec_serialization"]
	path = modules/nodec_serialization
	url = https://github.com/nodec-project/nodec_serialization.git
[submodule "sdks/DirectXTex"]
	path = sdks/DirectXTex
	url = https://github.com/microsoft/DirectXTex.git
[submodule "sdks/bullet3"]
	path = sdks/bullet3
	url = https://github.com/bulletphysics/bullet3.git
